/* General styling */
body {
  margin: 0;
  padding: 0;
  background: #0ac2f1; /* Main blue background */
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Wave styles */
.wave {
  position: absolute;
}

.wave-top {
  top: 0;
  left: 0;
}

.wave-bottom {
  bottom: 0;
  right: 0;
  transform: rotate(180deg)
}

/* Content styling */
.content {
  position: relative;
  z-index: 1;
  color: #c1ff72;
  font-size: 2rem;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background: limegreen;
  color: white;
  border: 2px solid whitesmoke; /* Fix: Added 'solid' style */
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #1b711b;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@keyframes splash-anim {
  from {scale: 0%; opacity: 0%;}
  to {scale: 100%; opacity: 100%;}
}

.splash-icon {
  width: 70%; 
  height: fit-content; 
  animation-name: splash-anim; 
  animation-duration: 2.5s;
  transition-timing-function: ease-out;
}